<nav id="sidebar" class="bg-dark text-white">
    <div class="sidebar-header text-center py-3">
        <img src="assets/img/logo_grande.png" alt="logo" class="logo-expand" >
        <img src="assets/img/logo_pequeno.png" alt="logo-colapsado" class="logo-collapse d-none" >
      </div>
    <ul class="nav flex-column mt-4" id="sidebar-links">
      <li class="nav-item">
        <a href="#" class="nav-link text-white" data-view="inicio">
          <i class="fas fa-home"></i>
          <span class="ms-2 sidebar-text">Inicio</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white" data-view="visualizar-taller">
          <i class="fas fa-warehouse"></i>
          <span class="ms-2 sidebar-text">Visualizar Taller</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white" data-view="plano-taller">
          <i class="fas fa-tools"></i>
          <span class="ms-2 sidebar-text">Plano Taller</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white" data-view="zonas">
          <i class="fas fa-map"></i>
          <span class="ms-2 sidebar-text">Zonas</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white" data-view="anchors">
          <i class="fas fa-map-pin"></i>
          <span class="ms-2 sidebar-text">Anchors</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white" data-view="tags">
          <i class="fas fa-tag"></i>
          <span class="ms-2 sidebar-text">Tags</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white" data-view="vehiculos">
          <i class="fas fa-car-side"></i>
          <span class="ms-2 sidebar-text">Vehículos</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white" data-view="usuarios">
          <i class="fas fa-users"></i>
          <span class="ms-2 sidebar-text">Usuarios</span>
        </a>
      </li>
    </ul>
  </nav>
  